<a href="https://colab.research.google.com/github/abhi-11nav/Spotify-data-Analysis/blob/main/Spotify_Music_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Spotify Data Analysis

### Dataset credits:

https://www.kaggle.com/datasets/maharshipandya/-spotify-tracks-dataset

In [124]:
import numpy as np 
import pandas as pd

In [125]:
!git clone https://github.com/abhi-11nav/Spotify-data-Analysis.git

fatal: destination path 'Spotify-data-Analysis' already exists and is not an empty directory.

In [126]:
data = pd.read_csv("/content/Spotify-data-Analysis/dataset.csv")

In [127]:
data.head()

,Unnamed: 0,track_id,artists,album_name,track_name,popularity,duration_ms,explicit,danceability,energy,...,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature,track_genre
0,0,5SuOikwiRyPMVoIQDJUgSV,Gen Hoshino,Comedy,Comedy,73,230666,False,0.676,0.4610,...,-6.746,0,0.1430,0.0322,0.000001,0.3580,0.715,87.917,4,acoustic
1,1,4qPNDBW1i3p13qLCt0Ki3A,Ben Woodward,Ghost (Acoustic),Ghost - Acoustic,55,149610,False,0.420,0.1660,...,-17.235,1,0.0763,0.9240,0.000006,0.1010,0.267,77.489,4,acoustic
2,2,1iJBSr7s7jYXzM8EGcbK5b,Ingrid Michaelson;ZAYN,To Begin Again,To Begin Again,57,210826,False,0.438,0.3590,...,-9.734,1,0.0557,0.2100,0.000000,0.1170,0.120,76.332,4,acoustic
3,3,6lfxq3CG4xtTiEg7opyCyx,Kina Grannis,Crazy Rich Asians (Original Motion Picture Sou...,Can't Help Falling In Love,71,201933,False,0.266,0.0596,...,-18.515,1,0.0363,0.9050,0.000071,0.1320,0.143,181.740,3,acoustic
4,4,5vjLSffimiIP26QG5WcN2K,Chord Overstreet,Hold On,Hold On,82,198853,False,0.618,0.4430,...,-9.681,1,0.0526,0.4690,0.000000,0.0829,0.167,119.949,4,acoustic

In [128]:
# Dropping unnecessary columns

data.drop("Unnamed: 0", inplace=True, axis=1)

In [129]:
# Columns/ Feature names

data.columns

Index(['track_id', 'artists', 'album_name', 'track_name', 'popularity',
       'duration_ms', 'explicit', 'danceability', 'energy', 'key', 'loudness',
       'mode', 'speechiness', 'acousticness', 'instrumentalness', 'liveness',
       'valence', 'tempo', 'time_signature', 'track_genre'],
      dtype='object')

In [130]:
# Data description 

data.describe()

,popularity,duration_ms,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,time_signature
count,114000.000000,1.140000e+05,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000,114000.000000
mean,33.238535,2.280292e+05,0.566800,0.641383,5.309140,-8.258960,0.637553,0.084652,0.314910,0.156050,0.213553,0.474068,122.147837,3.904035
std,22.305078,1.072977e+05,0.173542,0.251529,3.559987,5.029337,0.480709,0.105732,0.332523,0.309555,0.190378,0.259261,29.978197,0.432621
min,0.000000,0.000000e+00,0.000000,0.000000,0.000000,-49.531000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,17.000000,1.740660e+05,0.456000,0.472000,2.000000,-10.013000,0.000000,0.035900,0.016900,0.000000,0.098000,0.260000,99.218750,4.000000
50%,35.000000,2.129060e+05,0.580000,0.685000,5.000000,-7.004000,1.000000,0.048900,0.169000,0.000042,0.132000,0.464000,122.017000,4.000000
75%,50.000000,2.615060e+05,0.695000,0.854000,8.000000,-5.003000,1.000000,0.084500,0.598000,0.049000,0.273000,0.683000,140.071000,4.000000
max,100.000000,5.237295e+06,0.985000,1.000000,11.000000,4.532000,1.000000,0.965000,0.996000,1.000000,1.000000,0.995000,243.372000,5.000000

In [131]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114000 entries, 0 to 113999
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   track_id          114000 non-null  object
 1   artists           113999 non-null  object
 2   album_name        113999 non-null  object
 3   track_name        113999 non-null  object
 4   popularity        114000 non-null  int64
 5   duration_ms       114000 non-null  int64
 6   explicit          114000 non-null  bool
 7   danceability      114000 non-null  float64
 8   energy            114000 non-null  float64
 9   key               114000 non-null  int64
 10  loudness          114000 non-null  float64
 11  mode              114000 non-null  int64
 12  speechiness       114000 non-null  float64
 13  acousticness      114000 non-null  float64
 14  instrumentalness  114000 non-null  float64
 15  liveness          114000 non-null  float64
 16  valence           114000 non-null  float64
 17  tempo             114000 non-null  float64
 18  time_signature    114000 non-null  int64
 19  track_genre       114000 non-null  object
dtypes: bool(1), float64(9), int64(5), object(5)
memory usage: 16.6+ MB

In [132]:
data.shape

(114000, 20)

### * Let us pick explore about the categorical variables

In [133]:
# Filtering the categorical columns

categorical_columns  = []

for i in data.columns:
  if type(data[i][0]) == str:
    categorical_columns.append(i)

In [134]:
categorical_columns

['track_id', 'artists', 'album_name', 'track_name', 'track_genre']

In [135]:
# First let us check for any missing values

for cols in categorical_columns:
  if data[cols].isna().any() == True:
    print(cols," --> Contains missing values")

artists  --> Contains missing values
album_name  --> Contains missing values
track_name  --> Contains missing values

In [136]:
# Exploring the data further for missing values
data.isna().sum()

track_id            0
artists             1
album_name          1
track_name          1
popularity          0
duration_ms         0
explicit            0
danceability        0
energy              0
key                 0
loudness            0
mode                0
speechiness         0
acousticness        0
instrumentalness    0
liveness            0
valence             0
tempo               0
time_signature      0
track_genre         0
dtype: int64

In [137]:
# Since there are only 1 missing value, we can drop those rows/columns

data.dropna(inplace=True)

In [138]:
data.isna().any()

track_id            False
artists             False
album_name          False
track_name          False
popularity          False
duration_ms         False
explicit            False
danceability        False
energy              False
key                 False
loudness            False
mode                False
speechiness         False
acousticness        False
instrumentalness    False
liveness            False
valence             False
tempo               False
time_signature      False
track_genre         False
dtype: bool

In [139]:
print("Total data length:", len(data))

for cols in categorical_columns:
  length = len(data[cols].value_counts())
  print(length, " is the uniqe value count in", cols,"-->", round((length/len(data))*100,2),"%")

Total data length: 113999
89740  is the uniqe value count in track_id --> 78.72 %
31437  is the uniqe value count in artists --> 27.58 %
46589  is the uniqe value count in album_name --> 40.87 %
73608  is the uniqe value count in track_name --> 64.57 %
114  is the uniqe value count in track_genre --> 0.1 %

In [140]:
# We are going to elimnate the track_id,track_name and album_name because of so many unique values (over 40 percent)

# Copy of removed values
copy = data[["track_id","album_name","track_name"]]
for col in copy.columns:
  categorical_columns.remove(col)

data.drop(["track_id","album_name","track_name"],inplace=True, axis=1)

In [155]:
for col in categorical_columns:
  print(col,"\n",data[col].value_counts()[:10],"\n\n")

artists
 The Beatles        279
George Jones       271
Stevie Wonder      236
Linkin Park        224
Ella Fitzgerald    222
Prateek Kuhad      217
Feid               202
Chuck Berry        190
Håkan Hellström    183
OneRepublic        181
Name: artists, dtype: int64


track_genre
 acoustic             1000
afrobeat             1000
psych-rock           1000
progressive-house    1000
power-pop            1000
pop                  1000
pop-film             1000
piano                1000
party                1000
pagode               1000
Name: track_genre, dtype: int64

In [170]:
data[data['artists'] == "OneRepublic"]['track_genre'].value_counts()

piano    124
rock      55
pop        2
Name: track_genre, dtype: int64

We can observe that **One Republic** songs are mostly of the genre **piano**, followed by **rock** and **pop** ∇
We will create a list of popular genres for every artist

In [195]:
# Gathering all the unique artist names

artists = []

for i in data['artists'].value_counts().index:
  artists.append(i)

In [196]:
# Empty dicitonary to be update with artist and famous genre list. 

from tqdm import tqdm

artists_famous_genre = {}

for value in tqdm(artists):
  famous_genre = data[data["artists"]==value]['track_genre'].value_counts().index[0]

  artists_famous_genre.update({
      value : famous_genre
  })

100%|██████████| 31437/31437 [05:31<00:00, 94.88it/s]

In [241]:
# Saving the dictionary to a csv file 

artists_genre = pd.DataFrame(artists_famous_genre.values(),artists_famous_genre.keys(), columns=['genre']).reset_index()
artists_genre['artists'] = artists_genre["index"]
artists_genre.drop("index",axis=1,inplace=True)

artists_genre.to_csv("artists_famous_genre.csv")